/* .selector-for-some-widget {
    box-sizing: content-box;
} */

body {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    background-color: #e9e2e1;
}

#navbar {
    background: #e9e2e1;
    line-height: 1.2rem;
    font-size: 1.2em;
    letter-spacing: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menuAbout {
    align-self: center;
    margin-right: 1.5rem;
}

#menuContact {
    align-self: center;
    margin-right: 1.5rem;
}

#menuProjects {
    align-self: center;
    margin-right: 1.5rem;
}

.nav-link {
    color: rgb(212, 212, 212);
}

.navbar-brand {
    color: rgb(77, 77, 77);
}

.nav-item {
    display: flex;
}

#brand {
    color: rgb(77, 77, 77);
    margin-left: 2rem;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #729f98;
    margin: auto;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: left;
    margin-right: 1vw;
    margin-left: 2vw;
    width: 100%;
    font-size: 1.5vw;;
    color: #e9e2e1;
    text-transform: uppercase;
    line-height: 220%;
    letter-spacing: 0.3em;
}

.profile-image {
    
    border-radius: 50%;
    border-width: 1vw;
    border-style: solid;
    border-color: #e9e2e1e7;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: #aa863a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#pomodoroIcon {
    width: 45%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#pomodoroIcon:hover {
    animation-name: shake;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

#simonIcon {
    width: 60%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#simonIcon:hover {
    animation-name: shake;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

#calculatorIcon {
    width: 40%;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

#calculatorIcon:hover {
    animation-name: shake;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(15deg);
    }
    70% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#xIcon {
    position: relative;
    top: 4vw;
    left: -4vw;
    width: 30%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

#oIcon {
    position: relative;
    top: -4vw;
    left: 4vw;
    width: 30%;
}

.ticIcons:hover {
    animation-name: shake;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

a {
    color: #e9e2e1;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
}

a:hover {
    color: #e9e2e1;
    text-decoration-line: none;
}

a:active {
    color: #e9e2e1;
    text-decoration-line: none;
}

a:focus {
    color: #e9e2e1;
    text-decoration-line: none;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  #283018;
    margin: auto;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
   
}

.fa-linkedin-in,
.fa-github {
    color: #aa863a;
}