body {
    display: block;
    margin: auto;
    padding-top: 3rem;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    background-color: #aa863a;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #e9e2e1;
}

#title {
    color: #e9e2e1;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    text-align: center;
}

hr {
    width: 10rem;
    border-style: solid;
    background-color: #e9e2e1;
    margin-bottom: 4rem;
}

#counterMain {
    color: #e9e2e1;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

#counter{
    color: #e9e2e1;
}

#win {
    animation-duration: 5s;
    animation-name: slide;
    position: relative;
    animation-iteration-count: infinite;
    top: -6rem;
    left: -22rem;
}

@keyframes slide {
    0% {color: blue;
        top: -6rem;
        left: -22rem;
        

    }
    20% {
        color: yellow;
        top: -6rem;
        left: 0;
    }
    50% { color: red;
        top: -6rem;
        left: 22rem;
    }
    70% {color: green;
        top: -6rem;
        left: 0rem;
    }
    100% {color:blue;
        top: -6rem;
        left: -22rem;
    }
}

.circle {
    /* opacity: 0.8; */
    display: block;
    width: 30rem;
    height: 30rem;
    background: #283018;
    /* background-image: url("images/circles-and-roundabouts.png");
    /* background-repeat: repeat; */
    /* background-blend-mode: multiply; */
    border-radius: 50%;
    box-shadow: inset 7px 7px 40px 0 rgba(0, 0, 0, 0.692);
}

#top {
    display: block;
}

#blue {
    width: 10rem;
    height: 10rem;
    background-image: url("images/blue.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5rem;
    left: 3.5rem;
    filter: drop-shadow(5px 5px 10px #000000);
    outline: none;
    box-shadow: none;
}

#blue:active {
    outline: none;
    box-shadow: none;
    width: 10rem;
    height: 10rem;
    background-image: url("images/bluepressed.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.2rem;
    left: 3.7rem;
    filter: drop-shadow(2px 2px 5px #000000);
}

#blue:focus,
#blue:visited {
    box-shadow: none;
    outline: none;
    border: 0;
}

#yellow {
    box-shadow: none;
    outline: none;
    width: 10rem;
    height: 10rem;
    background-image: url("images/yellow.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5rem;
    left: 3.5rem;
    filter: drop-shadow(-5px 5px 10px #000000);
}

#yellow:active {
    box-shadow: none;
    outline: none;
    width: 10rem;
    height: 10rem;
    background-image: url("images/yellowpressed.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.2rem;
    left: 3.7rem;
    filter: drop-shadow(-2px 2px 5px #000000);
}

#yellow:focus {
    box-shadow: none;
    outline: none;
    border: 0;
}

#bottom {
    display: block;
}

#green {
    box-shadow: none;
    outline: none;
    border: 0;
    width: 10rem;
    height: 10rem;
    background-image: url("images/green.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.5rem;
    left: 3.5rem;
    filter: drop-shadow(-5px -5px 10px #000000);
}

#green:active {
    box-shadow: none;
    outline: none;
    border: 0;
    width: 10rem;
    height: 10rem;
    background-image: url("images/greenpressed.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.5rem;
    left: 3.5rem;
    filter: none;
}

#green:focus {
    box-shadow: none;
    outline: none;
    border: 0;
}

#red {
    box-shadow: none;
    outline: none;
    border: 0;
    width: 10rem;
    height: 10rem;
    background-image: url("images/red.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.5rem;
    left: 3.5rem;
    filter: drop-shadow(5px -5px 10px #000000);
}

#red:active {
    box-shadow: none;
    outline: none;
    border: 0;
    width: 10rem;
    height: 10rem;
    background-image: url("images/redpressed.svg");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 5.5rem;
    left: 3.5rem;
    filter: none;
}

#red:focus {
    box-shadow: none;
    outline: none;
    border: 0;
}

.start {
    margin-bottom: 0.5rem;
    float: left;
}



.row {
    width: 23rem;
    text-align: center;
}

label {
    top: -15.5rem;
    left: 4rem;
}

.switch {
    position: relative;
    display: block;
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
    transform: rotate(-90deg);
}

#on {
    position: relative;
    top: -17rem;
    left: 5.2rem;
    color: #e9e2e1;
}

#off {
    position: relative;
    top: -14rem;
    left: 6.9rem;
    color: #e9e2e1;
}

.onOff {
    position: relative;
    top: 6rem;
    left: -15rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8D607D;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    transform: rotate(45deg);
    left: 0.7rem;
    bottom: 0.45rem;
    background-color: #301828;
    transition: .4s;
}

input:checked+.slider {
    background-color: #729f98;
}

input:focus+.slider {
    box-shadow: 0 0 20px #729f98;
}

input:checked+.slider:before {
    transform: translateX(1.4rem) rotate(180deg);
    background-color: #301828;
}

.strictMode {
    width: 3rem;
    height: 3rem;
    background: #8D607D;
    margin: 1rem 4rem;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rbga(0, 0, 0, 0.5);
    top: -16rem;
    right: -30rem;
}

.strictMode label {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 0.6rem;
    left: 0.7rem;
    z-index: 1;
    background: #729f98;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.strictMode input[type=checkbox]:checked+label {
    background: #301828;
}

#selectStrict {
    display: none;
}

#modeName {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -16rem;
    right: -33rem;
    width: 5rem;
    color: #e9e2e1;
}

#mode {
    align-self: center;
}

#startBtn {
    background-color: #8D607D;
    position: relative;
    top: -5.5rem;
    left: 13rem;
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
    filter: drop-shadow(0px 0px 10px #000000);
    outline: none !important;
    box-shadow: none;
}

#startBtn:hover {
    outline: none !important;
    box-shadow: none;
    background-color: #8D607D;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#startBtn:active {
    outline: none !important;
    box-shadow: none;
    filter: none;
    transform: rotate(90deg);
}